.header-custom{
    
    
    background-color: #d6cdc9;

}

#carouselExampleIndicators img{
    height: 400px;
}

.narengi{
    color: #fc4a0c;;
}

.bg-narengi{
    background-color: #c35e30;
}
.sefid{
    color: white;
}